.popup-title
{
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 1em;
	color: rgba(0, 0, 0, 0.54);
	text-transform: uppercase;
}


.mat-stroked-button
{
	&.popup-update-button
	{
		color: white;
		background-color: blue;
		border-radius: 4px;
		width: 20ch;
	}

	&.popup-cancel-button
	{
		color: blue;
		border-radius: 4px;
		width: 20ch;
	}
}

// .edit-icon
// {
// 	transform: scale(0.66);
// }

.cancel-icon
{
	transform: scale(0.56);
}